.NewTodo {
    display: flex;
    align-items: center;
    width: 90%;
    color: var(--DarkGrayishBlue);
    font-size: 0.65em;
    background: var(--VeryDarkDesaturatedBlue);
    border-radius: 5px;
    padding: 1.2em;
    margin: auto;
    margin-top: 2.6em;
}

.check {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px  var(--VeryDarkGrayishBlue2) solid;
    border-radius: 50%;
    margin-left: 0.5em;
}

.NewTodo p {
    margin-left: 1em;
}